@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Work+Sans:wght@300&display=swap');

body {
  background-color: rgb(219, 96, 96);
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
}

.pop-ups {
  display: flex;
}

.kw-logo { 
  width: 35%;
  display: block;
}

.photo-one {
  width: 50%;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
  /*padding-bottom: 5%;*/
  /* opacity: 80%; */
}

.alex-photo-hidden {
  height: 5%;
  width: 10%;
  opacity: 0%;
  /*border-radius: 50%;*/
}

header {
  display: flex;
  flex-direction: row;
}

h3 {
  font-family: 'Reenie Beanie';
  font-size: 400%;
  color: white;
  margin: 0 auto;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: 'Reenie Beanie';
  font-size: 150%;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

h5 {
  font-family: 'Reenie Beanie';
  font-size: 80%;
  color: skyblue;
  margin: 0 auto;
  display: flex;
  opacity: 85%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

a:hover {
  background-color: transparent;
  opacity: 50%;
  border-color: red;
}

button {
  color: white;
  background-color: transparent;
  border: none;
  width: 50%;
  font-family: 'Reenie Beanie';
  font-size: 500%;
  animation: fadeIn 5s;
}

button:hover {
  background-color: transparent;
  opacity: 50%;
  border-color: red;
}

.spot-link {
  color: blue;
  background-color: transparent;
  border: none;
  font-family: 'Reenie Beanie';
  font-size: 200%;
  animation: fadeIn 5s;
  text-decoration: none;
  margin-bottom: 2%;
}

/* .spot-link:hover {
  color: white;
  opacity: 50%;
  border-color: red;
} */

@media (max-width: 1000px) {
  body {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    margin: auto 0;
    padding-bottom: 20%;
  }

  h3 {
    font-size: 300%;
  }

  .photo-one {
    width: 80%;
    padding-bottom: 10%;
  }
  img {
   width: 50%;
  }
}

@media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }
  
  header {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    margin: auto 0;
    padding-bottom: 20%;
  }

  h3 {
    font-size: 200%;
  }

  .photo-one {
    width: 90%;
    padding-bottom: 10%;
  }

  h5 {
    font-family: 'Reenie Beanie';
    font-size: 50%;
    color: skyblue;
    margin: 0 auto;
    display: flex;
    opacity: 85%;
    justify-content: center;
  }
}